# Python
__pycache__
app\__pycache__
app\routes\__pycache__
*.py[cod]
*.pyo
*.pyd
*.pyc
*.log

# Virtual environment
.venv/
venv/

# Flask/Migrations (если появятся)
instance/
.env
.env.*

# VSCode
.vscode/

#Windows

Thumbs.db
