{% extends 'base.html' %}
{% block title %}Книжный магазин{% endblock %}

{% block content %}


<!-- Основной контент -->
<div id="main-content" style="padding: 20px;">

    <!-- ТОП-3 -->
    <div class="top3-wrapper">
        <h2 class="top3-heading">ТОП-3 продаж недели:</h2>
        <div class="top3-books">
            {% for book in top_books %}
            <a href="{{ url_for('book_detail', book_id=book.id) }}" class="book-card">
                <div>
                    <img src="https://media.istockphoto.com/id/162833278/nl/foto/blank-book.jpg?s=612x612&w=0&k=20&c=C-kb218UqFZ_ZdWg8ILDDcXDwpmYzwghnew_7VWZwm4=" alt="Обложка">
                    <div class="book-info">
                        <strong>{{ book.title }}</strong>
                        <em>{{ book.author }}</em>
                        <span>Рейтинг: {{ book.rating }}</span>
                    </div>
                </div>
            </a>
            {% endfor %}
        </div>
    </div>

    <!-- Жанры -->
    <h2 style="text-align: center;">Жанры</h2>
    <div style="
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        gap: 10px;
        max-width: 1000px;
        margin: 0 auto;
        text-align: center;">
        {% for genre in genres[:10] %}
        <a href="{{ url_for('books_by_genre', genre_name=genre) }}"
           style="
               display: flex;
               justify-content: center;
               align-items: center;
               aspect-ratio: 1 / 1;
               background: #fff;
               border: 1px solid #ccc;
               border-radius: 4px;
               text-decoration: none;
               color: #333;
               font-weight: bold;">
            {{ genre }}
        </a>
        {% endfor %}
    </div>

</div>






{% endblock %}
