{% extends 'base.html' %}
{% block title %}Профиль{% endblock %}
{% block content %}
<div class="profile-container">

<h1>Профиль пользователя</h1>

<div class="profile-info">
    <p><strong>Имя:</strong> {{ current_user.first_name }} {{ current_user.last_name }}</p>
    <p><strong>Email:</strong> {{ current_user.email }}</p>
    <p><strong>Телефон:</strong> {{ current_user.phone }}</p>
</div>
<br>
<hr>
<br>
<div class="orders-link-wrapper">
    <a href="{{ url_for('orders') }}" class="orders-link"> Посмотреть мои заказы</a>
</div>
<hr>
<br>

<h2>Смена пароля</h2>
<div class="password-change-wrapper">
    <form method="post" action="{{ url_for('change_password') }}" class="profile-form">
        <div class="form-group">
            <label for="current_password">Текущий пароль:</label>
            <input type="password" id="current_password" name="current_password" required>
        </div>

        <div class="form-group">
            <label for="new_password">Новый пароль:</label>
            <input type="password" id="new_password" name="new_password" required>
        </div>

        <button type="submit">Сменить пароль</button>
    </form>
</div>
<hr>



<h2 style="color: red; text-align: center;">Удаление аккаунта</h2>
<div class="delete-form">
    <button type="button" onclick="openAccountPopup()">Удалить аккаунт</button>

</div>

<!-- Подтверждение удаления аккаунта -->
<div id="delete-account-popup" style="display: none; position: fixed; top: 50%; left: 50%;
     transform: translate(-50%, -50%); background: white; padding: 20px; border: 1px solid #333; z-index: 1000;">
    <p style="font-weight: bold; margin-bottom: 15px;">Удалить аккаунт безвозвратно?</p>
    <form method="post" action="{{ url_for('delete_account') }}">
        <div style="display: flex; justify-content: center; gap: 10px;">
            <button type="submit" style="padding: 8px 15px; font-weight: bold; background-color: red; color: white;">Да</button>
            <button type="button" onclick="closeAccountPopup()" style="padding: 8px 12px; font-weight: bold;">Нет</button>
        </div>
    </form>
</div>

<script>
    function openAccountPopup() {
        document.getElementById('delete-account-popup').style.display = 'block';
    }

    function closeAccountPopup() {
        document.getElementById('delete-account-popup').style.display = 'none';
    }
</script>

<a href="{{ url_for('index') }}" class="floating-back-button"> ← На главную</a>

</div>


{% endblock %}
